{% extends 'base.html' %}


{% block content %}

{% if not article %}

    <div style='margin-top:30px;'>
        <form action='/articles/create/' method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit" >Create article</button>
            </div>
        </form>
    </div>
{% else %}
    <p>Your article was created successfuly!</p>
    <a href='/articles/{{ article.id }}/'>{{ article.title }} - {{ article.content }}</a>
{% endif %}


{% endblock content %}